body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh; /* Isso garante que o conteúdo se estenda por toda a altura da viewport. */
    background-color: #f5f5f5; /* Apenas para fins de demonstração. */
}

.page-content {
    width: 100%;
    max-width: 1500px; /* Largura máxima do conteúdo.*/
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 15px;
}

.logo {
    font-size: 50px;
    font-weight: bold;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type='text']{
    padding-right: 500px;
}

.search button {
    padding: 8px 12px;
    background-color: #666;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.right-section {
    display: flex;
    align-items: center;
}


.login {
    margin-left: 20px;
    position: relative;
}

.login img {
    width: 55px;
    height: auto;
    cursor: pointer;
}


.cart {
    margin-left: 20px;
    position: relative;
}

.cart img {
    width: 30px;
    height: auto;
    cursor: pointer;
}

.cart-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 3px 6px;
    font-size: 12px;
}

.categories {
    background-color: #f4f4f4;
    padding: 10px 0;
}

.categories ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.categories li {
    margin: 0 60px;
}

.categories a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.categories a:hover {
    color: #ff6600;
}

.shoe-list ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.shoe-list li {
    text-align: center;
    margin: 0 20px 30px;
    box-sizing: border-box;
}

.shoe-list img {
    /* object-fit: cover; */
    height: 400px;
    width: 400px;
    margin: none;
}

#seta-left{
    width: 50px;
    height: 50px;
    
}

#seta-right{
    width: 50px;
    height: 50px;
}

button{
    background-color: white;
    color: black;
    border-radius: 20px;
}

.tamanho{
    text-align: center;
    justify-items: center;
    row-gap: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    
}

.tamanho-button{
    width: 40px;
    height: 40px;
}

#black{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: black;
    border: none;
}

#red{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: red;
    border: none;
}

#green{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: green;
    border: none;
}

#blue{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: blue;
    border: none;
}

#white{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: white;
    border-color: rgba(100, 97, 97, 0.164);
}

#yellow{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: yellow;
    border: none;
}

#pink{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: pink;
    border: none;
}

#purple{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: purple;
    border: none;
}

#orange{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: orange;
    border: none;
}

.slideshow-container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
  }

  .slide {
    display: none;
    width: 100%;
  }

  .arrow {
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: #333;
    cursor: pointer;
  }

  .arrow-left {
    left: 45%;
    clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
  }

  .arrow-right {
    right: 45%;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  }

.colors p{
    text-align: center;
    font-weight: bold;
}

.colors tr{
    text-align: center;
    padding-right: 250px;
}

.colors td{
    width: 70px;
    height: 79px;
}

.buy{
    display: flex;
    margin-left: 14%;
    gap: 60px;
}

.buy button{
    justify-items: center;
    color: white;
    background-color: #333;
    width: 160px;
    aspect-ratio: 3/1;
    align-content: center;
}

.engloba1{
    display: flex;
    justify-content: space-around;
}

.engloba2{
    display: flex;
    flex-flow: column;
    padding: 0 100px;
    text-align: center;
}