/* Cart */

.CarrinhoTitulo h2 {
    text-align: center;
    font-size: 30px;
}





.count {
    align-items: center;
    text-align: center;
}



#titulos h3 {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

#cart-product-image {
    width: 40%;
}
.cart-product {
    display:flex;
    align-items: center;
    text-align: center;
}


#item-nome {
    font-weight: bold;
    font-size: 15px;
  }
 
  @media screen and (min-width: 601px) {
    #item-nome {
        font-size: 15px;
      
    }      
  }
  @media screen and (max-width: 600px) {
    #item-nome {
        font-size: 10px;
      
    }
  }

#remover {
    border: none;
    font-weight: bold;
  }
 
  @media screen and (min-width: 601px) {
    #remover {
        
      width: 100px; height: 20px; 
    }      
  }
  @media screen and (max-width: 600px) {
    #remover {
    
      width: 10px; height: 10px;  
      font-size: 10px;
    }
  }

.cart-product-price p{
    justify-content: center;
    margin-top: 50px;
    text-align: center;
    font-size: 15px;
}

@media screen and (min-width: 601px) {
    .cart-product-price p {
        margin-top: 30px;
        font-size: 20px;
      
    }      
  }
  @media screen and (max-width: 600px) {
    .cart-product-price p {
    margin-top: 10px;
    font-size: 13px;
      
    }
  }


.cart-product-total-price p{
    justify-content: center;
    margin-top: 50px;
    text-align: center;
    font-size: 15px;
}

@media screen and (min-width: 601px) {
    .cart-product-total-price p {
        margin-top: 30px;
        font-size: 20px;
      
    }      
  }
  @media screen and (max-width: 600px) {
    .cart-product-total-price p {
    margin-top: 10px;
    font-size: 13px;
      
    }
  }



.cart-product-quantity {
    align-items: center;
    text-align: center;
}
.cart-product-quantity button {
    height:20px;
    width: 20px;
    align-items: center;
    padding: 0px;
    padding-bottom: 25px;
}

.MyProduct {
    margin-bottom: 30px;
}







